<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}Microblog</title>
    </head>
    <body>
	<h1>Welcome to my site</h1><br>
        {% block page_content %}{% endblock %}
    </body>
</html>
