{% extends "_layouts/base.html" %}

{% block page_title %} {{ post.title }} {% endblock %}

{% block page_content %}
<h2>{{ post.title }}</h2>
<p>{{ post.content|linebreaks }}</p>
<p style="color: red;">{{ post.updated_at }}</p>
<a href="{% url blog:list %}"><---Posts</a>
{% endblock %}
